@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 70px;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}