.muzikant {
  display: -ms-grid;
  display: grid;
  height: 500px;
  -ms-grid-rows: 50% 50%;
  -ms-grid-columns: 1fr;
      grid-template: 50% 50% / 1fr;
  background-color: red;
  border: solid 5px red;
  border-radius: 20px;
  padding: 0;
  margin: 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 15px 2px grey;
          box-shadow: 2px 2px 15px 2px grey;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.muzikant__boven {
  background-color: yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
  padding-top: 40px;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.muzikant__boven--foto {
  border: solid 5px red;
  border-radius: 50%;
  width: 150px;
  opacity: 1;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.muzikant__boven--naam {
  font-size: 50px;
  font-family: "Fredoka One", cursive;
  margin: 0;
}

.muzikant__onder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 30px;
  margin: 0;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.muzikant__onder--tekst {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.muzikant__onder--instrument {
  font-family: "Long Cang", cursive;
  font-size: 40px;
}

.muzikant__onder--tooltip {
  opacity: 0;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.muzikant:hover {
  border: solid 5px black;
  background-color: black;
}

.muzikant:hover .muzikant__boven,
.muzikant:hover .muzikant__onder {
  background-color: black;
}

.muzikant:hover .muzikant__boven--foto {
  opacity: 0;
}

.muzikant:hover .muzikant__onder--tooltip {
  opacity: 1;
}

body {
  background-color: #c3cfe2;
  color: black;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 40px;
}

h6 {
  font-size: 15px;
}

header,
footer {
  text-align: center;
  background-color: red;
  border: dashed 5px black;
  margin: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 70px;
  }
  main {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */